Repository beefchimi/template-common, changes with the labels that .github/labeler.yml gives for each.
All labels: 👽️ dependency, 🔧 tooling

.github/labeler.yml:

👽️ dependency: package.json
🔧 tooling: scripts/*

:alembic: [Actions] Attempt to get running by generating a package-lock
  package-lock.json
Labels: none

:bug: [Actions] Use v1 of bahmutov action
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: none

:bug: [Actions] Attempt to solve npm auth problem
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: none

:bug: [Actions] Try again
  .github/workflows/labeler.yml
Labels: none

:poop: [Actions] Use npm instead of yarn
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: none

:arrow_up: [Dependency] Regenerate package-lock
  package-lock.json
Labels: none

:alembic: [Actions] Attempt to use the latest master again
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: none

⚗️ [Actions] Attempt to get running by generating a package-lock (#1)
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  package-lock.json
Labels: none

:arrow_up: [Dependency] Bump beefchimi deps
  .eslintignore
  .eslintrc
  package-lock.json
  package.json
  tsconfig.json
Labels: 👽️ dependency

:arrow_up: [Dependency] Bump beefchimi deps (#3)
  .eslintignore
  .eslintrc
  package-lock.json
  package.json
  tsconfig.json
Labels: 👽️ dependency

:building_construction: [Scripts] Add GH labels script
  scripts/bootstrap-gh-labels.sh
Labels: 🔧 tooling

:building_construction: [Scripts] Add GH labels script (#2)
  scripts/bootstrap-gh-labels.sh
Labels: 🔧 tooling

:arrow_up: [Dependency] Bump beefchimi deps yet again
  package-lock.json
  package.json
Labels: 👽️ dependency
